.about {
	height: 985px;
}

.about > .about__subtitle {
	font-size: 18px;
}

.about__content {
	height: 795px;
}

.about__content--img {
	position: relative;
}

.img__under {
	width: 475px;
	height: 412px;
	margin: 173px 36px 0;
	background-color: #eff0f2;
}

.about__content--img::before {
	content: '';
	width: 392px;
	height: 483px;
	position: absolute;
	left: 48.5%;
	top: -67.5%;
	transform: translate(-50%, 50%);
	background-image: url(../img/about-img.jpg);
	box-shadow: 0 0 23px 0 rgba(215,216,217,1);
}