.contact {
	height: 705px;
	background: url(../img/contact-bg.jpg) 50% 100% no-repeat;
	background-size: cover;
}

.contact__blocks {
	height: 610px;
	padding-top: 121px;
}

.contact__blocks--form,
.contact__blocks--address {
	display: inline-block;
	height: 100%;
	background-color: rgb(74, 89, 98);
	opacity: 0.9;
}

.contact__blocks--form {
	position: relative;
	width: calc(55% - 1%);
	margin-right: 1%;
}

.form__fieldset {
	position: absolute;
	left: 50%;
	top: 22px;
	transform: translateX(-50%);
	border: none;
}

.address {
	position: absolute;
}

.address p,
.address a {
	font-family: 'raleway_regular', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	text-transform: none;
	text-decoration: none;
	opacity: 0.7;
	color: rgb(255, 255, 255);
}

.form__fieldset input[type="text"],
.form__fieldset input[type="email"],
.form__fieldset textarea {
	display: block;
	width: calc(100% - 60px);
	min-width: 500px;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding-top: 12px;
	margin: 0 auto;
	font-family: 'raleway_regular', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 51px;
	background-color: transparent;
	color: rgb(180, 187, 192);
}

.form__fieldset textarea {
	padding-bottom: 12px;
	resize:none;
}

.form__fieldset input[type="submit"] {
	padding: 12.5px 37px;
	border: none;
	border-radius: 1px;
	font-family: 'montserrat_regular', sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	letter-spacing: 2.16px;
	opacity: 0.7;
	background-color: rgb(110, 238, 227);
	color: rgb(0, 0, 0);
	cursor: pointer;
	transition: 0.4s ease-out;
}

.form__fieldset input[type="submit"]:hover {
	color: rgb(255, 255, 255);	
	opacity: 1;
	text-shadow: 1px 1px 1px #000000;
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.9),
    			2px 0 3px 1px rgba(0,0,0,.9);
	transition: 0.4s ease-out;
}

.form__fieldset input::placeholder, 
.form__fieldset textarea::placeholder {
	color: rgb(180, 187, 192);
}

.form__fieldset input:focus, 
.form__fieldset textarea:focus {
	color: rgb(255, 255, 227);
	text-shadow: 1px 1px 1px #000000;
	border-bottom: 2px solid rgba(255, 255, 255, 0.75);
	background-color: rgb(163, 169, 172);
	border-radius: 4px;
}


.contact__blocks--address {
	position: relative;
	width: calc(44% - 1%);
	margin-left: 1%;
}

.address {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 91%;
}

.address span,
.address a {
	font-style: normal;
    transition-duration: 0.6s;
}

.address a:hover {
	color: rgb(255, 255, 255);
	opacity: 1;
	text-shadow: 1px 1px 1px #000000;
	transition: 0.2s ease-out;
}

.address__map {
	display: block;
	width: 100%;
}
