/*HEADER STYLES*/
@keyframes smoothnavbar {

  0% {
    left: 0;
  }

  5% {
    left: -3px;
  }

  10% {
    left: -6px;
  }

  15% {
    left: -11px;
  }

  20% {
    left: -17px;
  }

  25% {
    left: -23px;
  }

  30% {
    left: -32px;
  }

  35% {
    left: -40px;
  }

  40%{
    left: -49px;
  }

  45% {
    left: -54px;
  }

  50% {
    left: -63px;
  }

  55% {
    left: -70px;
  }

  60% {
    left: -78px;
  }

  65% {
    left: -85px;
  }

  70% {
    left: -93px;
  }

  75% {
    left: -100px;
  }

  80% {
    left: -106px;
  }

  85% {
    left: -111px;
  }

  90%{
    left: -115px;
  }

  95%{
    left: -118px;
  }

  100% {
    left: -120px;
  }
}

@keyframes smoothnavbar-off {

  0% {
    left: -120px;
  }

  5% {
    left: -118px;
  }

  10% {
    left: -115px;
  }

  15% {
    left: -111px;
  }

  20% {
    left: -106px;
  }

  25% {
    left: -100px;
  }

  30% {
    left: -93px;
  }

  35% {
    left: -85px;
  }

  40%{
    left: -78px;
  }

  45% {
    left: -70px;
  }

  50% {
    left: -63px;
  }

  55% {
    left: -54px;
  }

  60% {
    left: -49px;
  }

  65% {
    left: -40px;
  }

  70% {
    left: -32px;
  }

  75% {
    left: -23px;
  }

  80% {
    left: -17px;
  }

  85% {
    left: -11px;
  }

  90%{
    left: -6px;
  }

  95%{
    left: -3px;
  }

  100% {
    left: 0;
  }
}


.header {
	height: 100vh;
	background-color: rgb(239, 240, 242);
}

.header__topblock {
	height: 112px;
}

.header__topblock--logo {
	display: inline-block;
	width: 113px;
	height: 46px;
	padding-top: 64px;
	vertical-align: middle;
}

.header__topblock--menu {
	display: inline-block;
	vertical-align: middle;
	padding-top: 80px;
	float: right;
	cursor: pointer;
}

 .cls-1 {
    opacity: 0.6;
    clear: both;
}

.header__title {
	position: relative;
	margin: 0;
	padding: 189px 0 136px 15px;
	font-family: 'montserrat_bold', sans-serif;
	font-size: 45px;
	font-weight: 700;
	line-height: 58.5px;
	text-shadow: 4px 8px 10px rgba(0, 0, 0, 0.24);
	text-transform: uppercase;
	letter-spacing: 1.95px;
	text-align: center;
	color: rgba(80, 80, 80, 1);
}

.header__title--bg {
	background-color: rgba(178, 242, 238);
}

.header__title--bg:nth-child(1) {
	box-shadow: -9px 0px 0px 0px rgba(178, 242, 238);
}

br + .header__title--bg {
	box-shadow: -14px 0px 0px 0px rgba(178, 242, 238);
}

.header__button {
	display: block;
	max-width: 230px;
	margin: 0 auto;
	padding: 14px 36px;
	border-radius: 2px;
	border: 2px solid rgba(0, 0, 0, 0.5);
	font-family: 'montserrat_regular', sans-serif;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: transparent;
	color: rgba(0, 0, 0, 0.75);
    transition-duration: .8s;
}


.header__button:hover, 
.header__button:focus {
    color: #000000;
    box-shadow: -1px 1px 2px #43ae29;
    background-color:rgba(178, 242, 238);
    box-shadow: 0 12px 16px 0 rgba(229, 229, 229, .24),
    			0 17px 50px 0 rgba(229, 229, 229, .19);
	transition: 0.8s ease-out;
}

.header__button:active {
    color: #3d742f;
    box-shadow: -2px 4px 8px #a7b027;
    background-color: #f6f8de;
}

.header__imgbox {
	position: relative;
	height: 68px;
}

.header__imgbox--img::before {
	content: '';
	width: 69px;
	height: 68px;
	position: absolute;
	right: 8.5%;
	top: -15%;
	background-image: url(../img/header-stand.png);
}

.header__imgbox--img::after {
	content: '';
	width: 65px;
	height: 66px;
	position: absolute;
	right: 8%;
	top: -35%;
	background-image: url(../img/header-glass.png);
}

/*MOBILE NAVIGATION*/

svg {
	cursor: pointer;
    transition-duration: 0.8s;
}

svg:hover {
	transform: scale(1.05);
	transition: 0.6s ease-out;
}

.burgerform {
	position: relative;
}

.mobilenav {
	display: none;
}

#mycheck {
	display: none;
}

#mycheck:checked ~ nav {
	display: block;
	opacity: 1;
	position: absolute;
	animation: smoothnavbar 1s linear forwards;
}

#mycheck ~ nav {
	display: block;
	opacity: 0;
	position: absolute;
	animation: smoothnavbar-off 0.75s linear forwards;
    transition-duration: 1s;
}

.mobilenav__list {
	list-style: none;
}

.mobilenav__item {
	background: rgba(80, 80, 80, 1);
	width: 200px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid rgba(178, 242, 238);
    box-shadow: 2px 0 3px 1px rgba(0,0,0,.9);
    transition-duration: 0.6s;
}

.mobilenav__item:last-child {
	border: none;	
    box-shadow: 1px 2px 3px 0 rgba(0,0,0,.9),
    			2px 0 3px 1px rgba(0,0,0,.9);
}

.mobilenav__item:hover {
	background-color: rgb(131, 131, 131);
	transition: 0.6s ease-out;
    cursor: pointer;
}

.mobilenav__link {
	display: block;
	width: 200px;
	padding: 5px 20px;
	margin: 0 auto;
	font-family: 'raleway_regular', sans-serif;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	text-shadow: 1px 1px 1px #000000;
	color: rgba(178, 242, 238);
    transition-duration: 0.6s;
}

.mobilenav__link:hover {
	color: rgba(255, 255, 255, 0.95);
	transition: 0.6s ease-out;
}