.services {
	height: 1618px;
	background-color: rgb(249,251,251);
}

.services__content {
	padding-top: 125px;
}

.services__content--row1 img {
	height: 422px;
}

.services__content--row2 img,
.services__content--row3 img {
	height: 370px;
	padding-top: 12px;
}

.services__content--row1 img:first-child,
.services__content--row2 img:first-child, 
.services__content--row3 img:last-child {
	width: calc(58.33% - 15px);
}

.services__content--row1 img:last-child,
.services__content--row2 img:last-child,
.services__content--row3 img:first-child {
	width: 41.66%;
}


.services__content--row1 img:last-child,
.services__content--row2 img:last-child, 
.services__content--row3 img:last-child {
	margin-left: 10px;
}